@model GameDetailsViewModel

@{
    ViewBag.Title = "Game Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<style>
    .input-group-sm {
        text-decoration: none;
    }
</style>

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="card col-8 border-0">
            <p>Name</p>
            <p style="font-size:25px;"><u>@Model.Name</u></p>
            <p>Description</p>
            <p>@Model.Description</p>
            <p>Genre</p>
            <p>Genre: <b>@Model.Genre</b></p>

            <div class="form-inline">
                @if (User.IsInRole("Admin"))
                {
                    <a class="input-group-sm" asp-controller="Games" asp-action="Edit" asp-route-gameId="@Model.Id">
                        <input type="submit" value="Edit" class="btn btn-warning" />
                    </a>

                    <a class="input-group-sm" asp-controller="Games" asp-action="Delete" asp-route-gameId="@Model.Id">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </a>
                }
                <a class="input-group-sm" asp-controller="Games" asp-action="AddToCollection" asp-route-gameId="@Model.Id">
                    <input type="submit" value="Add to Collection" class="btn btn-primary" />
                </a>
                 <br />
                <br />
                <h5>Add comment:</h5>
                <form asp-controller="Games" asp-action="AddComment" method="post" asp-route-gameId="@Model.Id">
                        <input name="comment" style="height:50px; width:500px" class="text-bold"/>

                </form>
                <div class="card col-8 border-0">
                    <hr />
                    <h5>Comments:</h5>
                    @foreach (var comment in Model.Comments)
                    {
                        <p style="border-width:3px; border-style:solid; border-color:#6699ff;">@comment.Description</p>
                    }
                </div>
                
            </div>
        </div>
    </div>
</div>